<div ng-include="'partials/navigation_menu.html'"></div>
<div class="container padding-body">
    <div class="row" style="margin-top: 70px; margin-left: 20px;">
        <div class="col-md-9">
            <form class="form-horizontal form-item-details">
                <div class="panel panel-primary">
                    <div class="panel-heading">Check if customer exists</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-lg-5">
                                <input type="text" name="ssn" placeholder="Customer SSN" class="form-control"
                                       string-to-number ng-model="customer.ssn" value="customer.ssn" required>
                            </div>
                            <div class="col-lg-1">
                                <button class="btn btn-primary" ng-click="checkCustomer()">Check</button>
                            </div>
                            <div class="col-lg-1" style="margin-left: 5px">
                                <button class="btn btn-primary" ng-click="newCustomer()">New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>