<div ng-include="'partials/navigation_menu.html'"></div>
<div class="container padding-body" ng-init="getAllBranches()">
    <div ng-include="'partials/popups.html'"></div>
    <div class="row" style="margin-top: 70px; margin-left: 20px;">
        <div class="col-md-11">
            <div class="panel panel-primary">
                <div class="panel-heading">History of customer transactions</div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal form-item-details" ng-submit="searchTransaction()">
                            <div class="form-group">
                                <div class="col-lg-2" style="margin-left: 15px">
                                    <label class="control-label">Enter Customer SSN </label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" maxlength="17" name="search" placeholder="Search..." class="form-control"
                                           ng-model="searchText" value="" required>
                                </div>
                                <div class="col-lg-2">
                                    <input type="submit" class="btn btn-primary" value="Search">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive" style="margin-top: 15px">
                        <table class="table table-bordered">
                            <tr class="table-heading">
                                <td>Vehicle Identification Number (VIN)</td>
                                <td>Date</td>
                                <td>List price</td>
                                <td>Final price</td>
                                <td>Old license plate</td>
                                <td>New license plate</td>
                                <td>Transaction type</td>
                            </tr>
                            <tr class="clickable-row" ng-repeat="transaction in transactions">
                                <td>{{ transaction.transaction_vin }}</td>
                                <td>{{ transaction.date }}</td>
                                <td>{{ transaction.list_price }}</td>
                                <td>{{ transaction.final_price }}</td>
                                <td>{{ transaction.old_license_plate }}</td>
                                <td>{{ transaction.new_license_plate }}</td>
                                <td ng-show="transaction.is_sale">Bought from customer</td>
                                <td ng-show="!transaction.is_sale">Sold to customer</td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
